<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>TLM Challenge</title>

    <link href="favicon.png" rel="shortcut icon" type="image/png">

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
    <link href="/css/loader.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/css/ie.css" />
    <![endif]-->
    <!-- Javascript -->
    <script src="/javascripts/jquery.js"></script>>
    <script src="/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

</head>
<body id="ninja" style="background-color: #1b1c1d">

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item"></a><a href="/" class="item">Page Principal</a><a id="game" href="/game" class="item">Jeux</a><a id="konami" href="/konami" class="item">Cheat Code</a>
        </div>
    </div>