<% include header %>


<div class="ui text container">
    <h1 class="ui inverted header"  id="margin" style="font-family: Arial">
        Entrer un code Konami
    </h1>
        <div class="ui container" id="margin">
            <button id="fa fa-caret-square-o-right" value="1" class="ui button code">
                <i class="fa fa-caret-square-o-right"></i>
            </button>
            <button id="fa fa-caret-square-o-up"  value="2" class="ui button code">
                <i class="fa fa-caret-square-o-up"></i>
            </button>
            <button id="fa fa-caret-square-o-left"  value="1"  class="ui button code">
                <i class="	fa fa-caret-square-o-left"></i>
            </button>
            <button id="fa fa-caret-square-o-down"  value="2"  class="ui button code">
                <i class="fa fa-caret-square-o-down"></i>
            </button>
        </div>
    <h3  class="ui container"  style="margin-top:50px">Password</h3>
    <div class="ui container" id="cheatcodezone">
        <i class="" id="zone1" style="color: black"></i>
    </div>

        <button style="margin-top: 40px" type="submit" class="ui huge primary button" name="submit" id="submit">
            Entrer<i class="right arrow icon"></i>
        </button>

</div>
</div>


<% include footer %>