<% include header %>
<div class="ui text container">
<div id="article" role="main">
    <div id="bodycontents">
        <div id="intro" class="section  sticky  hasad">
            <h1 class="firstHeading"><a href="//fr.wikihow.com/s%27entrainer-facilement-%C3%A0-%C3%AAtre-un-ninja">Comment s'entrainer facilement à être un ninja</a></h1>
        </div>
            <h3 class="">
                <div class="altblock">Partie <span>1</span>
                </div>
                <span class="mw-headline" id="Bouger_comme_un_ninja">Bouger comme un ninja</span>
            </h3>
            <div id="étapes_1" class="section_text">
                <ol class="steps_list_2">
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-1.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-1.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 1" width="728" height="546" class="whcdn content-fill" onload="WH.performance.clearMarks('image1_rendered'); WH.performance.mark('image1_rendered');" id="img_5ad3a33cc7" data-src="https://www.wikihow.com/images_en/thumb/8/8d/Train-to-Be-a-Ninja-Easily-Step-1.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-1.jpg" src="https://www.wikihow.com/images_en/thumb/8/8d/Train-to-Be-a-Ninja-Easily-Step-1.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-1.jpg.webp"><script>WH.shared.addScrollLoadItem('img_5ad3a33cc7')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 1" src="https://www.wikihow.com/images_en/thumb/8/8d/Train-to-Be-a-Ninja-Easily-Step-1.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-1.jpg" width="728" height="546" class="whcdn content-fill" onload="WH.performance.clearMarks('image1_rendered'); WH.performance.mark('image1_rendered');"&gt;</noscript>
                                <script>WH.performance.clearMarks('image1_rendered'); WH.performance.mark('image1_rendered');</script></a></div>
                        <div class="step_num" aria-label="Étape 1">1</div>
                        <a name="step_1_1" class="stepanchor"></a><div class="step">
                            <b class="whb">Voyagez de nuit.</b> Pour pouvoir être le plus furtif possible, le ninja doit toujours agir de nuit. Les techniques avancées d’espionnage et de guérilla vont au-delà des compétences du guerrier traditionnel. Pour apprendre à devenir un ninja, vous devez vous habituer à agir après le coucher du soleil&nbsp;<sup id="_ref-2" class="reference" aria-label="Lien vers la référence 2"><a href="#_note-2">[2]</a></sup>. Entrainez-vous à vous déplacer dans l’obscurité complète. Cela vous aidera à utiliser votre environnement pour percevoir le monde autour de vous.

                            <ul>
                                <li>Lorsque vous voyagez de nuit, vous devez éviter les lampadaires et les autres sources de lumière artificielle.</li>
                                <li>Pour arriver à mieux vous déplacer dans l’obscurité, vous devez adapter votre vision à la nuit. Les ninjas apprennent à maitriser une «&nbsp;vision statique&nbsp;» qui permet de voir quelque chose dans le noir et une «&nbsp;vision dynamique&nbsp;» qui implique la détection de mouvements dans le noir. Essayez ces deux techniques. Vous pourriez par exemple vous y entrainer en jonglant dans l’obscurité.</li>
                            </ul>
                            <script>WH.performance.mark('step1_rendered');</script>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-2.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-2.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 2" width="728" height="546" class="whcdn content-fill" id="img_cd68e5ca1e" data-src="https://www.wikihow.com/images_en/thumb/7/7f/Train-to-Be-a-Ninja-Easily-Step-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-2.jpg" src="https://www.wikihow.com/images_en/thumb/7/7f/Train-to-Be-a-Ninja-Easily-Step-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-2.jpg.webp"><script>WH.shared.addScrollLoadItem('img_cd68e5ca1e')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 2" src="https://www.wikihow.com/images_en/thumb/7/7f/Train-to-Be-a-Ninja-Easily-Step-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-2.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 2">2</div>
                        <a name="step_1_2" class="stepanchor"></a><div class="step">
                            <b class="whb">Grimpez aux arbres.</b> En plus de leurs techniques furtives, les ninjas sont extrêmement agiles. Il n’y a pas de mur trop haut à passer ou d’obstacles insurmontables sur leur passage. La meilleure façon de vous entrainer à des stratégies d’agilité est de vous sentir suffisamment à l’aise en grimpant aux arbres&nbsp;<sup id="_ref-3" class="reference" aria-label="Lien vers la référence 3"><a href="#_note-3">[3]</a></sup>. Les ninjas pénétraient souvent dans les châteaux en passant par les arbres et en sautant de l’arbre sur le mur.

                            <ul>
                                <li>Vous devriez investir dans une paire de crampons pour les mains et les pieds&nbsp;<sup id="_ref-4" class="reference" aria-label="Lien vers la référence 4"><a href="#_note-4">[4]</a></sup> et vous entrainer à grimper aux arbres en les utilisant. Cela vous aidera à mieux accrocher l’écorce de l’arbre.</li>
                                <li>En plus de vous aider à éviter vos ennemis, les branches les plus élevées des arbres vous donneront aussi une meilleure vue des alentours. De cette hauteur, vous pourrez planifier vos stratégies d’espionnage de manière plus exacte, car vous aurez une vue plus claire de votre emplacement actuel.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-3.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-3.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 3" width="728" height="546" class="whcdn content-fill" id="img_b7cac14035" data-src="https://www.wikihow.com/images_en/thumb/a/a2/Train-to-Be-a-Ninja-Easily-Step-3.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-3.jpg" src="https://www.wikihow.com/images_en/thumb/a/a2/Train-to-Be-a-Ninja-Easily-Step-3.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-3.jpg.webp"><script>WH.shared.addScrollLoadItem('img_b7cac14035')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 3" src="https://www.wikihow.com/images_en/thumb/a/a2/Train-to-Be-a-Ninja-Easily-Step-3.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-3.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 3">3</div>
                        <a name="step_1_3" class="stepanchor"></a><div class="step">
                            <b class="whb">Camouflez-vous dans la nature.</b> Pour vous fondre dans votre environnement, vous devez l’utiliser à votre avantage&nbsp;<sup id="_ref-5" class="reference" aria-label="Lien vers la référence 5"><a href="#_note-5">[5]</a></sup>. Commencez avec la position de camouflage de base appelée «&nbsp;uzura-gakure&nbsp;». Elle vous demande de rentrer vos membres et votre tête dans votre corps pour vous rapetisser le plus possible. Si vous arrêtez complètement de bouger, vous pouvez vous cacher dans les rochers d’un environnement naturel. Vous pouvez aussi utiliser les arbres pour vous cacher.

                            <ul>
                                <li>Le «&nbsp;kannon-gakure&nbsp;» est un autre aspect de cette stratégie où vous vous couvrez le visage et restez devant l’arbre. En cachant le blanc de votre visage, vous vous fondrez mieux dans l’arbre et vous tirerez avantage de l’angle mort de l’œil humain.</li>
                                <li>Les ninjas se cachent aussi souvent derrière les arbres. Comme «&nbsp;l’uzura-gakure&nbsp;», vous devez rester le plus immobile possible, encore plus immobile que les feuilles dans le vent. Si vous pouvez être plus immobiles que les feuilles, vos ennemis ne verront que ce mouvement, ce qui rendra votre corps presque indétectable.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-4.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-4.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 4" width="728" height="546" class="whcdn content-fill" id="img_44a7a67a06" data-src="https://www.wikihow.com/images_en/thumb/2/2c/Train-to-Be-a-Ninja-Easily-Step-4.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-4.jpg" src="https://www.wikihow.com/images_en/thumb/2/2c/Train-to-Be-a-Ninja-Easily-Step-4.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-4.jpg.webp"><script>WH.shared.addScrollLoadItem('img_44a7a67a06')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 4" src="https://www.wikihow.com/images_en/thumb/2/2c/Train-to-Be-a-Ninja-Easily-Step-4.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-4.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 4">4</div>
                        <a name="step_1_4" class="stepanchor"></a><div class="step">
                            <b class="whb">Évitez d’éveiller leurs soupçons.</b> Un vrai ninja pratique l’art de l’invisibilité en essayant de se déplacer dans l’espace sans alerter ses ennemis de sa présence. Même si le ninja moderne doit prendre en compte une quantité de lumière artificielle plus importante, il est toujours possible de nos jours d’utiliser des stratégies d’évasion du Japon féodal.

                            <ul>
                                <li>La marche furtive est la plus simple de ces méthodes. Si vous guidez vos pas sur le bord extérieur de vos pieds, vous allez étouffer le bruit normal de vos pas. Entrainez-vous sur du gravier ou du sable, car vous pourrez observer le bruit de vos pas et l’empreinte qu’ils laissent derrière eux.</li>
                                <li>Les distractions et les détournements d’attention vous aideront à éviter les soupçons de vos ennemis. Cela pourrait vous amener à jeter une pierre loin de vous ou de nos jours, à demander à quelqu’un d’appeler la personne que vous voulez distraire pour passer sans vous faire remarquer. Cela va rediriger leur attention vers un autre son, ce qui vous donnera beaucoup de temps pour vous faufiler.</li>
                                <li>Vous pouvez aussi utiliser des sons communs comme de l’eau qui coule et le ronronnement d’un radiateur pour masquer le bruit de vos mouvements.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-5.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-5.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 5" width="728" height="546" class="whcdn content-fill" id="img_0e3208c7a5" data-src="https://www.wikihow.com/images_en/thumb/5/56/Train-to-Be-a-Ninja-Easily-Step-5.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-5.jpg" src="https://www.wikihow.com/images_en/thumb/5/56/Train-to-Be-a-Ninja-Easily-Step-5.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-5.jpg.webp"><script>WH.shared.addScrollLoadItem('img_0e3208c7a5')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 5" src="https://www.wikihow.com/images_en/thumb/5/56/Train-to-Be-a-Ninja-Easily-Step-5.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-5.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 5">5</div>
                        <a name="step_1_5" class="stepanchor"></a><div class="step">
                            <b class="whb">Courez vite.</b> Même s’il est extrêmement important de savoir raser les murs, vous devez aussi vous assurer de garder toute votre énergie et votre force. Même si votre but est d’éviter de surprendre vos ennemis, vous devez aussi être sûr que vous pourrez vous enfuir en cas de conflit imprévu. Si vous vous faites poursuivre par un ennemi, vos stratégies d’espionnage pourraient ne pas être aussi utiles que votre vitesse.

                            <ul>
                                <li>L’entrainement de vitesse trente soixante est une façon simple d’améliorer votre force cardiovasculaire et votre vitesse de sprint&nbsp;<sup id="_ref-6" class="reference" aria-label="Lien vers la référence 6"><a href="#_note-6">[6]</a></sup>. Procurez-vous un chronomètre et trouvez un lieu où vous pouvez courir sans obstacle. Vous allez commencer par trottiner pendant 60 secondes. Ensuite, courez le plus vite possible pendant 30 secondes, puis trottinez de nouveau pendant 60 secondes. Recommencez ces différentes étapes trois fois, cela devrait vous prendre exactement sept minutes.</li>
                                <li>Assurez-vous de ne pas vous reposer complètement pendant votre course. Cela devrait plutôt être un repos passif, car vous devez vous assurer que votre cœur continue à battre plus vite. Il y a de bonnes chances que vous deviez courir pendant plus de 30 secondes pour échapper à un ennemi, c’est pourquoi vous devez vous préparer au pire.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                        <div class="wh_ad_inner step_ad" data-service="dfp" data-adtargetid="methodad" data-loaded="1" data-lateload="0" data-adsensewidth="728" data-adsenseheight="90" data-channels="" data-viewablerefresh="1">
                            <div id="methodad"></div>
                            <script>googletag.cmd.push(function() { googletag.display('methodad'); });</script>
                        </div>
                        <div class="clearall adclear"></div>
                    </li>
                </ol>
                <div class="clearall"></div>
            </div>
        </div>
        <a name="Combattre_comme_un_ninja_sub" class="anchor"></a><div class="section steps   sticky " style="padding-top: 60px;">
            <h3 class="">
                <div class="altblock">Partie <span>2</span>
                </div>
                <span class="mw-headline" id="Combattre_comme_un_ninja">Combattre comme un ninja</span>
            </h3>
            <div id="étapes_2" class="section_text">
                <ol class="steps_list_2">
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-6.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-6.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 6" width="728" height="546" class="whcdn content-fill" id="img_e9beb89de1" data-src="https://www.wikihow.com/images_en/thumb/f/fe/Train-to-Be-a-Ninja-Easily-Step-6.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-6.jpg" src="https://www.wikihow.com/images_en/thumb/f/fe/Train-to-Be-a-Ninja-Easily-Step-6.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-6.jpg.webp"><script>WH.shared.addScrollLoadItem('img_e9beb89de1')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 6" src="https://www.wikihow.com/images_en/thumb/f/fe/Train-to-Be-a-Ninja-Easily-Step-6.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-6.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 1">1</div>
                        <a name="step_2_1" class="stepanchor"></a><div class="step">
                            <b class="whb">Apprenez à sauter.</b> Pour tous les ninjas, il est important d’avoir suffisamment de force pour sauter, car vous allez devoir escalader des murs et sauter entre plusieurs surfaces. Lorsque vous l’ajoutez à vos compétences en escalade et en course, vous allez pouvoir éviter des attaques de vos ennemis si vous devez les combattre. Vous allez aussi devoir muscler vos jambes, car elles vont contenir beaucoup de votre force physique&nbsp;<sup id="_ref-7" class="reference" aria-label="Lien vers la référence 7"><a href="#_note-7">[7]</a></sup>. Voici plusieurs exercices que vous pouvez faire pour améliorer vos sauts et la force de vos jambes.

                            <ul>
                                <li>Faites des fentes en traversant la pièce. Cela vous permettra de renforcer vos quadriceps.</li>
                                <li>Déplacez-vous sur la pointe des pieds pour muscler vos mollets. En marchant sur la pointe des pieds, vous pouvez aussi vous exercer à bouger en silence pour améliorer vos qualités d’espion.</li>
                                <li>Sautez le plus haut possible sur un sol plat jusqu’à ce que vous vous sentiez fatigué.</li>
                                <li>Accroupissez-vous en pliant les genoux le plus possible et en gardant les jambes alignées avec vos épaules pendant une durée suffisamment longue. Cette position va renforcer les muscles de vos jambes. Vous pouvez aussi vous accroupir et sauter plusieurs fois, comme cela a été suggéré juste au-dessus.</li>
                                <li>Mettez vos jambes en l’air, à la hauteur de votre taille, et maintenez la position. On appelle aussi cette position un coup de pied latéral. Gardez-la le plus longtemps possible.</li>
                                <li>Si vous avez accès à des machines de soulevé de poids, entrainez vos jambes avec des flexions lestées et des développés des jambes. Plus vous avez de la force dans les jambes, plus vous pourrez en mettre dans vos sauts.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-7.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-7.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 7" width="728" height="546" class="whcdn content-fill" id="img_88ba33929f" data-src="https://www.wikihow.com/images_en/thumb/d/d9/Train-to-Be-a-Ninja-Easily-Step-7.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-7.jpg" src="https://www.wikihow.com/images_en/thumb/d/d9/Train-to-Be-a-Ninja-Easily-Step-7.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-7.jpg.webp"><script>WH.shared.addScrollLoadItem('img_88ba33929f')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 7" src="https://www.wikihow.com/images_en/thumb/d/d9/Train-to-Be-a-Ninja-Easily-Step-7.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-7.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 2">2</div>
                        <a name="step_2_2" class="stepanchor"></a><div class="step">
                            <b class="whb">Renforcez votre tronc avec des exercices.</b> Une grande partie de l’apprentissage pour devenir un ninja, surtout de nos jours, est d’utiliser le poids de son corps pour gagner en force. Ces exercices sont aussi plus simples à incorporer dans votre entrainement, car vous n’avez pas besoin d’acheter de matériel couteux&nbsp;<sup id="_ref-8" class="reference" aria-label="Lien vers la référence 8"><a href="#_note-8">[8]</a></sup>.

                            <ul>
                                <li>Souvenez-vous qu’il faut un certain temps pour maitriser ces exercices, car ils demandent une action complète de votre corps plutôt que celle d’un muscle isolé.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-8.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-8.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 8" width="728" height="546" class="whcdn content-fill" id="img_46ff827d99" data-src="https://www.wikihow.com/images_en/thumb/2/2e/Train-to-Be-a-Ninja-Easily-Step-8.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-8.jpg" src="https://www.wikihow.com/images_en/thumb/2/2e/Train-to-Be-a-Ninja-Easily-Step-8.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-8.jpg.webp"><script>WH.shared.addScrollLoadItem('img_46ff827d99')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 8" src="https://www.wikihow.com/images_en/thumb/2/2e/Train-to-Be-a-Ninja-Easily-Step-8.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-8.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 3">3</div>
                        <a name="step_2_3" class="stepanchor"></a><div class="step">
                            <b class="whb">Apprenez le taekwondo.</b> Même si vous pouvez incorporer de nombreux arts martiaux à vos stratégies de combat en tant que ninja, le taekwondo est l’une des écoles de pensée les plus anciennes et les plus éprouvées&nbsp;<sup id="_ref-9" class="reference" aria-label="Lien vers la référence 9"><a href="#_note-9">[9]</a></sup>. Un des avantages majeurs de la maitrise du taekwondo est de pouvoir vous concentrer sur l’utilisation de vos jambes plutôt que sur celle de vos mains. Vos ennemis, en particulier ceux qui ne sont pas entrainés au combat, vont probablement vous attaquer avec leurs poings.

                            <ul>
                                <li>Dès le départ, votre maitrise du taekwondo vous donnera une «&nbsp;jambe&nbsp;» d’avance en cas d’attaque. Vos jambes auront une meilleure amplitude de mouvements que vos mains lorsque vous devrez vous occuper d’ennemis qui arrivent de tous les côtés.</li>
                                <li>Cassez des planches pour améliorer votre vitesse, votre précision et votre puissance. Vous allez aussi avoir besoin d’une très bonne concentration pour casser une planche, car cela vous demande de positionner exactement votre pied à l’endroit où la planche est la plus fragile. N’oubliez pas que vous devez voir votre mouvement à travers la planche, pas seulement vers celle-ci&nbsp;<sup id="_ref-10" class="reference" aria-label="Lien vers la référence 10"><a href="#_note-10">[10]</a></sup>. Visez un point au-delà de la planche et votre pied la traversera avec puissance.</li>
                                <li>Assurez-vous que la personne qui la tient ne va pas la laisser partir, car une mauvaise prise sur la planche vous empêchera de la casser.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-9.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-9.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="" width="728" height="546" class="whcdn content-fill" id="img_7dc5dbfffc" data-src="https://www.wikihow.com/images_en/thumb/9/93/Train-to-Be-a-Ninja-Easily-Step-9.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-9.jpg"><script>WH.shared.addScrollLoadItem('img_7dc5dbfffc')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 9" src="https://www.wikihow.com/images_en/thumb/9/93/Train-to-Be-a-Ninja-Easily-Step-9.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-9.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 4">4</div>
                        <a name="step_2_4" class="stepanchor"></a><div class="step">
                            <b class="whb">Battez-vous avec un bâton.</b> En cas de combat, un ninja peut aussi se battre avec un bâton. C’est une technique utile pour se défendre contre un nombre important d’ennemis, surtout si ceux-ci se rapprochent avec des armes épointées ou puissantes&nbsp;<sup id="_ref-11" class="reference" aria-label="Lien vers la référence 11"><a href="#_note-11">[11]</a></sup>.

                            <ul>
                                <li>Un des bâtons les plus intéressants pour l’entrainement est le «&nbsp;bo&nbsp;», un long bâton fait de chêne rouge ou blanc. Le «&nbsp;bo&nbsp;» a été utilisé par les ninjas depuis le début du Japon féodal. On en parle souvent comme d’une «&nbsp;extension d’un des membres&nbsp;» et son mouvement est conçu pour imiter les mouvements ouverts des arts martiaux.</li>
                                <li>Lorsque vous vous battez avec un «&nbsp;bo&nbsp;», votre posture va vous donner beaucoup de puissance. La position de vos pieds va donner beaucoup de puissance au haut de votre corps et vous pourrez frapper vos ennemis différemment selon l’emplacement de vos pieds&nbsp;<sup id="_ref-12" class="reference" aria-label="Lien vers la référence 12"><a href="#_note-12">[12]</a></sup>.</li>
                                <li>Vous devriez apprendre une grande variété de coups différents. Cela vous assurera d’avoir l’œil pour repérer les points faibles de vos ennemis. En ajoutant ces stratégies à vos postures les plus agiles, vous augmenterez votre dextérité avec votre «&nbsp;bo&nbsp;»&nbsp;<sup id="_ref-13" class="reference" aria-label="Lien vers la référence 13"><a href="#_note-13">[13]</a></sup>. N’oubliez pas d’entrainer vos stratégies d’attaque dans un lieu sûr et ouvert, car vous ne voulez pas faire de mal aux personnes autour de vous ou provoquer des dégâts inutiles à votre domicile.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                </ol>
                <div class="clearall"></div>
            </div>
        </div>
        <a name="Vivre_comme_un_ninja_sub" class="anchor"></a><div class="section steps   sticky " style="padding-top: 60px;">
            <h3 class="">
                <div class="altblock">Partie <span>3</span>
                </div>
                <span class="mw-headline" id="Vivre_comme_un_ninja">Vivre comme un ninja</span>
            </h3>
            <div id="étapes_3" class="section_text">
                <ol class="steps_list_2">
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="" width="728" height="546" class="whcdn content-fill" id="img_05661a2c2c" data-src="https://www.wikihow.com/images_en/thumb/0/01/Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg"><script>WH.shared.addScrollLoadItem('img_05661a2c2c')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 10" src="https://www.wikihow.com/images_en/thumb/0/01/Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-10-Version-2.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 1">1</div>
                        <a name="step_3_1" class="stepanchor"></a><div class="step">
                            <b class="whb">Habillez-vous selon l’environnement.</b> Pour être un vrai ninja, vous devez vous fondre complètement dans le lieu, que ce soit une place d’une ville agitée ou une forêt sans aucun contact humain&nbsp;<sup id="_ref-14" class="reference" aria-label="Lien vers la référence 14"><a href="#_note-14">[14]</a></sup>. Puisque le ninja doit éviter en permanence d’éveiller les soupçons de ses ennemis, il est essentiel d’adapter sa tenue aux circonstances.

                            <ul>
                                <li>La tenue de base du ninja est une robe («&nbsp;shozoku&nbsp;») à capuche («&nbsp;zukin&nbsp;»). Contrairement à une croyance populaire, ces vêtements ne sont pas noirs, mais ils sont bleu foncé. Puisque le ninja porte ces vêtements lorsqu’il se déplace pendant la nuit, le bleu lui permet de rester caché dans l’obscurité, mais aussi sous la lumière de la lune, ce qui réduit les risques de se faire surprendre par ses ennemis. Il porte aussi des sandales de combat qui sont légères tout en lui donnant le soutien nécessaire pour se déplacer rapidement.</li>
                                <li>En plus de la tenue traditionnelle du ninja, vous devez aussi apprendre à vous déguiser pour vous déplacer sans vous faire remarquer pendant la journée&nbsp;<sup id="_ref-15" class="reference" aria-label="Lien vers la référence 15"><a href="#_note-15">[15]</a></sup>. Parmi les déguisements traditionnels du ninja, on compte celui du moine, du commerçant et de l’acteur. Il existe de nombreux rôles que le ninja peut jouer, mais il vaudrait mieux que vous vous fassiez passer pour un voyageur. De cette façon, vous pouvez vous rendre n’importe où et vous faire passer pour un étranger, ce qui rendra votre présence moins anormale.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg?ajax=true&amp;aid=46193"><div class="content-spacer" >
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 11" width="728" height="546" class="whcdn content-fill" id="img_5fcafb0b7c" data-src="https://www.wikihow.com/images_en/thumb/b/b4/Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg" src="https://www.wikihow.com/images_en/thumb/b/b4/Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg.webp"><script>WH.shared.addScrollLoadItem('img_5fcafb0b7c')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 11" src="https://www.wikihow.com/images_en/thumb/b/b4/Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-11-Version-2.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 2">2</div>
                        <a name="step_3_2" class="stepanchor"></a><div class="step">
                            <b class="whb">Maitrisez les techniques de respiration.</b> Il est essentiel de contrôler votre respiration pour vivre la vie d’un ninja. Puisque vous devez vous cacher pendant de longues périodes en restant le plus immobile et silencieux possible, vous devez être capable de rendre votre respiration inaudible&nbsp;<sup id="_ref-16" class="reference" aria-label="Lien vers la référence 16"><a href="#_note-16">[16]</a></sup>. Entrainez-vous à certaines de ces techniques qui vous aideront à ne pas attirer l’attention tout en améliorant votre conscience de l’environnement.

                            <ul>
                                <li>Respirez en rythme avec vos pas. Vous allez naturellement prendre le rythme de vos mouvements et vous assurer de conserver un flux d’oxygène régulier dans votre corps. Lorsque vous courez, inspirez après trois pas et expirez après deux pas. Pendant que vous marchez, vous pouvez inspirer après quatre pas et expirez après deux pas.</li>
                                <li>Entrainez-vous à la respiration profonde. Une respiration correcte fait gonfler tout votre torse. Exercez-vous à respirer avec votre abdomen le plus souvent possible jusqu’à ce que cela devienne une habitude.</li>
                                <li>Pendant la marche, inspirez par le nez et expirez par la bouche. La course demande plus d’oxygène, c’est pourquoi vous devez inspirer par la bouche et le nez au même moment.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 12" width="728" height="546" class="whcdn content-fill" id="img_692000f1f8" data-src="https://www.wikihow.com/images_en/thumb/4/49/Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg" src="https://www.wikihow.com/images_en/thumb/4/49/Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg.webp"><script>WH.shared.addScrollLoadItem('img_692000f1f8')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 12" src="https://www.wikihow.com/images_en/thumb/4/49/Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-12-Version-2.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 3">3</div>
                        <a name="step_3_3" class="stepanchor"></a><div class="step">
                            <b class="whb">Suivez le régime alimentaire d’un ninja.</b> Pour être sûr que votre corps puisse bouger rapidement et efficacement, les ninjas suivent un régime alimentaire strict pauvre en graisse&nbsp;<sup id="_ref-17" class="reference" aria-label="Lien vers la référence 17"><a href="#_note-17">[17]</a></sup>. Vous devez réduire votre consommation de viande, de produits laitiers et de sucres, car ces aliments prennent plus de temps pour être transformés en énergie par l’organisme. Vous pouvez aussi consommer des aliments légers riches en protéines comme les pignons de pin. Il se pourrait aussi qu’ils vous aident à améliorer vos perceptions sensorielles et à lutter contre le vieillissement.

                            <ul>
                                <li>Vous ne devez pas manger d’aliments qui pourraient provoquer des odeurs corporelles imprévues. Si vos ennemis peuvent sentir votre présence, cela va éveiller leurs soupçons. Il ne suffit pas de ne pas être vu ou entendu de ses adversaires, vous devez aussi faire attention qu’ils ne vous sentent pas.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-13.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-13.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 13" width="728" height="546" class="whcdn content-fill" id="img_498bd0f81c" data-src="https://www.wikihow.com/images_en/thumb/b/bf/Train-to-Be-a-Ninja-Easily-Step-13.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-13.jpg" src="https://www.wikihow.com/images_en/thumb/b/bf/Train-to-Be-a-Ninja-Easily-Step-13.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-13.jpg.webp"><script>WH.shared.addScrollLoadItem('img_498bd0f81c')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 13" src="https://www.wikihow.com/images_en/thumb/b/bf/Train-to-Be-a-Ninja-Easily-Step-13.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-13.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 4">4</div>
                        <a name="step_3_4" class="stepanchor"></a><div class="step">
                            <b class="whb">Pratiquez votre art en secret.</b> Puisque la plus grande partie de l’existence d’un ninja se résume à ne pas être vu, vous devez faire attention de ne pas vous entrainer en présence d’ennemis potentiels. Il est essentiel de trouver un lieu reculé, surtout lorsque vous vous exercez au combat ou au camouflage pour garder le secret de votre identité.

                        </div>
                        <div class="clearall"></div>
                    </li>
                    <li class="hasimage final_li">
                        <div class="mwimg  largeimage  floatcenter " style="max-width:728px"><a href="#/Image:Train-to-Be-a-Ninja-Easily-Step-14.jpg" class="image lightbox" data-href="/Image:Train-to-Be-a-Ninja-Easily-Step-14.jpg?ajax=true&amp;aid=46193"><div class="content-spacer">
                                    <img alt="Image intitulée Train to Be a Ninja Easily Step 14" width="728" height="546" class="whcdn content-fill" id="img_f51abe06be" data-src="https://www.wikihow.com/images_en/thumb/8/89/Train-to-Be-a-Ninja-Easily-Step-14.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-14.jpg" src="https://www.wikihow.com/images_en/thumb/8/89/Train-to-Be-a-Ninja-Easily-Step-14.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-14.jpg.webp"><script>WH.shared.addScrollLoadItem('img_f51abe06be')</script>
                                </div>
                                <noscript>&lt;img alt="Image intitulée Train to Be a Ninja Easily Step 14" src="https://www.wikihow.com/images_en/thumb/8/89/Train-to-Be-a-Ninja-Easily-Step-14.jpg/v4-728px-Train-to-Be-a-Ninja-Easily-Step-14.jpg" width="728" height="546" class="whcdn content-fill"&gt;</noscript></a></div>
                        <div class="step_num" aria-label="Étape 5">5</div>
                        <a name="step_3_5" class="stepanchor"></a><div class="step">
                            <b class="whb">Simplifiez-vous la vie.</b> Il est très difficile de vivre correctement la vie d’un ninja si vous avez beaucoup de biens ou si vous êtes lié à un lieu. Vous devez être constamment en mouvement et vous adapter à tous les environnements où vous vous trouvez&nbsp;<sup id="_ref-18" class="reference" aria-label="Lien vers la référence 18"><a href="#_note-18">[18]</a></sup>. À cause de cela, il vaudrait mieux que vous évitiez de tenir à des biens physiques et inutiles. Ils vont simplement vous alourdir et devenir une gêne dans vos voyages constants. Vous devez être présent dans le monde autour de vous en évaluant en permanence votre environnement avec un esprit ouvert et régulier.

                            <ul>
                                <li>Acceptez un style de vie minimaliste en vous débarrassant des choses dont vous n’avez pas besoin et en gardant l’essentiel.</li>
                            </ul>
                        </div>
                        <div class="clearall"></div>
                    </li>
                </ol>
                <div class="clearall"></div>
            </div>
        </div>
        <div class="section conseils  sticky ">
            <h2 class=""><span class="mw-headline" id="Conseils">Conseils</span></h2>
            <div id="conseils" class="section_text">
                <ul>
                    <li>Pour respirer en silence, inspirez par le nez et expirez par la bouche.</li>
                    <li>Lisez L’art de la guerre de Sun Tzu. Ce livre est rempli d’informations à propos des idées du combat que partagent les ninjas. Il aborde des sujets divers comme l’organisation de plans, la préparation de guerres, les tactiques, les manœuvres, le terrain, les espions et beaucoup d’autres.</li>
                </ul>
                <div class="clearall"></div>
            </div>
        </div>
        <div class="section sourcesetcitations  sticky ">
            <h2 class=""><span class="mw-headline" id="Sources_et_citations">Sources et citations</span></h2>
            <div id="sourcesetcitations" class="section_text">
                <div class="references-small">
                    <ol class="references sources">
                        <li id="_note-1">
                            <a href="#_ref-1" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.independent.co.uk/news/world/asia/the-japanese-towns-where-tourists-can-train-to-be-ninjas-8750247.html" target="_blank">http://www.independent.co.uk/news/world/asia/the-japanese-towns-where-tourists-can-train-to-be-ninjas-8750247.html</a></span>
                        </li>
                        <li id="_note-2">
                            <a href="#_ref-2" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.ninjaencyclopedia.com/ninja/training.html" target="_blank">http://www.ninjaencyclopedia.com/ninja/training.html</a></span>
                        </li>
                        <li id="_note-3">
                            <a href="#_ref-3" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="https://books.google.com/books?id=-zhjpeAFCxkC&amp;pg=PA142&amp;lpg=PA142&amp;dq=climbing+trees+ninja+training&amp;source=bl&amp;ots=PNwoyPDKui&amp;sig=u0cDDBWgdS1riw_HNzy2ZYsvpH4&amp;hl=en&amp;sa=X&amp;ved=0CD4Q6AEwB2oVChMIiLX_hu3nxwIVxCYeCh1s5wEh#v=onepage&amp;q=climbing%20trees%20ninja%20training&amp;f=false" target="_blank">https://books.google.com/books?id=-zhjpeAFCxkC&amp;pg=PA142&amp;lpg=PA142&amp;dq=climbing+trees+ninja+training&amp;source=bl&amp;ots=PNwoyPDKui&amp;sig=u0cDDBWgdS1riw_HNzy2ZYsvpH4&amp;hl=en&amp;sa=X&amp;ved=0CD4Q6AEwB2oVChMIiLX_hu3nxwIVxCYeCh1s5wEh#v=onepage&amp;q=climbing%20trees%20ninja%20training&amp;f=false</a></span>
                        </li>
                        <li id="_note-4" class="hidden">
                            <a href="#_ref-4" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.realninjagear.com/ninja/climbing-equipment/" target="_blank">http://www.realninjagear.com/ninja/climbing-equipment/</a></span>
                        </li>
                        <li id="_note-5" class="hidden">
                            <a href="#_ref-5" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.ninjaencyclopedia.com/techniques/hide.html" target="_blank">http://www.ninjaencyclopedia.com/techniques/hide.html</a></span>
                        </li>
                        <li id="_note-6" class="hidden">
                            <a href="#_ref-6" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://wayofninja.com/2013/how-to-run-faster-within-a-month/" target="_blank">http://wayofninja.com/2013/how-to-run-faster-within-a-month/</a></span>
                        </li>
                        <li id="_note-7" class="hidden">
                            <a href="#_ref-7" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.kiyojuteryu.com/articles.php?pageid=88&amp;ep=1&amp;contentCategory=articles" target="_blank">http://www.kiyojuteryu.com/articles.php?pageid=88&amp;ep=1&amp;contentCategory=articles</a></span>
                        </li>
                        <li id="_note-8" class="hidden">
                            <a href="#_ref-8" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://greatist.com/fitness/beginner-guide-advanced-bodyweight-skills" target="_blank">http://greatist.com/fitness/beginner-guide-advanced-bodyweight-skills</a></span>
                        </li>
                        <li id="_note-9" class="hidden">
                            <a href="#_ref-9" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.planetseed.com/relatedarticle/taekwondo-skills" target="_blank">http://www.planetseed.com/relatedarticle/taekwondo-skills</a></span>
                        </li>
                        <li id="_note-10" class="hidden">
                            <a href="#_ref-10" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.taekwondoanimals.com/taekwondo-breaking" target="_blank">http://www.taekwondoanimals.com/taekwondo-breaking</a></span>
                        </li>
                        <li id="_note-11" class="hidden">
                            <a href="#_ref-11" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.blackbeltathome.com/the-complete-beginners-guide-to-bo-staff/" target="_blank">http://www.blackbeltathome.com/the-complete-beginners-guide-to-bo-staff/</a></span>
                        </li>
                        <li id="_note-12" class="hidden">
                            <a href="#_ref-12" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="https://www.youtube.com/watch?list=PL6oRJ80VaDU8h-mCE0Z6XjhM4wOyMKVir&amp;v=zazbg4TyxrA" target="_blank">https://www.youtube.com/watch?list=PL6oRJ80VaDU8h-mCE0Z6XjhM4wOyMKVir&amp;v=zazbg4TyxrA</a></span>
                        </li>
                        <li id="_note-13" class="hidden">
                            <a href="#_ref-13" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="https://www.youtube.com/watch?list=PL6oRJ80VaDU8h-mCE0Z6XjhM4wOyMKVir&amp;v=6baBbBwGldk" target="_blank">https://www.youtube.com/watch?list=PL6oRJ80VaDU8h-mCE0Z6XjhM4wOyMKVir&amp;v=6baBbBwGldk</a></span>
                        </li>
                        <li id="_note-14" class="hidden">
                            <a href="#_ref-14" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.warriorsandlegends.com/japanese-warriors/ninja-warriors/ninja-warrior-clothing-and-costume/" target="_blank">http://www.warriorsandlegends.com/japanese-warriors/ninja-warriors/ninja-warrior-clothing-and-costume/</a></span>
                        </li>
                        <li id="_note-15" class="hidden">
                            <a href="#_ref-15" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.susanspann.com/the-seven-disguises-used-by-real-ninjas/" target="_blank">http://www.susanspann.com/the-seven-disguises-used-by-real-ninjas/</a></span>
                        </li>
                        <li id="_note-16" class="hidden">
                            <a href="#_ref-16" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://mindfitmove.com/run-like-a-ninja-a-guide-to-silent-running-and-mindful-listening/" target="_blank">http://mindfitmove.com/run-like-a-ninja-a-guide-to-silent-running-and-mindful-listening/</a></span>
                        </li>
                        <li id="_note-17" class="hidden">
                            <a href="#_ref-17" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://www.shinobiexchange.com/feeding-the-inner-ninja/" target="_blank">http://www.shinobiexchange.com/feeding-the-inner-ninja/</a></span>
                        </li>
                        <li id="_note-18" class="hidden">
                            <a href="#_ref-18" target="_blank">↑</a> <span class="reference-text"><a rel="nofollow" class="external free" href="http://themoceanproject.com/2014/05/21/approach-your-life-like-a-ninja/" target="_blank">http://themoceanproject.com/2014/05/21/approach-your-life-like-a-ninja/</a></span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<% include footer %>